* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#logo {
  height: 40px;
  width: 12vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2vw 5px 0.5vw;
  background-color: rgb(31, 29, 29);
  position: sticky;
  top: 0;
}
.navbar-list {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

#li {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.button {
  background-color: #0984e3;
  border: none;
  color: white;
  padding: 15px 25px 15px 25px;
  font-size: 1.5rem;
  margin: 35px 0 0 0;
}
.button:hover {
  cursor: pointer;
  transform: scale(0.96);
}
.heroimage img {
  height: 45vh;
  width: 40vw;
}
.heroimage img:hover {
  transform: scale(1.02);
}

.home-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0 0 0;
}
.button_Ser {
  background-color: #0984e3;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 1.1rem;
  margin-top: 10px;
  cursor: pointer;
}
.serviceparent {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  /* gap: 150px; */
}
figure img {
  height: 150px;
  width: 280px;
  object-fit: fill;
}
figure img:hover {
  transform: scale(0.95);
  overflow: hidden;
}
.card {
  margin: 0 90px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  padding: 10px;
}

.serviceName {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.serviceAbout {
  margin: 8px 0 2px 0;
}
.serviceHeading {
  font-size: 2.5rem;
  margin: 15px 0 60px 0;
}
.contact_heading {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 2rem 0;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.parent-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.puts {
  margin-bottom: 20px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
}
.contact-form {
  padding: 3rem 0 0 0;
}
input,
textarea {
  padding: 0.5rem;
  outline: none;
  border-radius: 0.3rem;
}
.submit-form {
  border: none;
  background-color: #0a3d62;
  color: white;
  width: 6rem;
  font-size: 1.05rem;
}
.submit-form:hover {
  cursor: pointer;
}
.goback {
  background-color: #0984e3;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 1.1rem;
  margin-top: 10px;
  cursor: pointer;
}
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-image {
  width: 60%;
  margin: 2rem 0 0 0;
  border-radius: 1rem;
}
.contact-short {
  max-width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1.5rem 10rem;
  background-color: whitesmoke;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0.1px black;
}
.button-Footer {
  background-color: #0984e3;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 1.1rem;
  margin-top: 1px;
  cursor: pointer;
}
.footer {
  background-color: #30336b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 10vh 10vw;
}
.footer-about1 {
  margin-bottom: 10px;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-formSubmit {
  background-color: #0984e3;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 1.1rem;
  margin-left: 5px;
  cursor: pointer;
}
.footer-subscribe h4 {
  margin-bottom: 10px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-social-icons {
  display: flex;
  gap: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}
.footer-social h4 {
  margin-bottom: 20px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contact h4 {
  margin-bottom: 10px;
}
