* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#logo {
  height: 40px;
  width: 12vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2vw 5px 0.5vw;
  background-color: rgb(31, 29, 29);
}
.navbar-list {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

#li {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.button {
  background-color: #0984e3;
  border: none;
  color: white;
  padding: 15px 25px 15px 25px;
  font-size: 1.5rem;
  margin: 35px 0 0 0;
}
.button:hover {
  cursor: pointer;
  transform: scale(0.96);
}
.heroimage img {
  height: 45vh;
  width: 40vw;
}
.heroimage img:hover {
  transform: scale(1.02);
}

.home-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0 0 0;
}
